<h2>ABE Key Generation</h2>
<div *ngIf="!masterKey" class="abelist">
	<div class="newFieldDiv">
		<input [(ngModel)]="newField" placeholder="new">
		<button (click)="addColumn(newField)">New Field</button>
	</div>
	<label>Devices:</label>
	<table class="table">
		<tr *ngFor="let device of formatedDevices  | slice:0:1">
			<th *ngFor="let key of device">
				{{key.name}} <span class="fa fa-close" (click)="removeColumn(key.name)"></span>
			</th>
			<th><button (click)="generateMaster('on')">Generate Master Key</button></th>
		</tr>
		<tr *ngFor="let device of formatedDevices">
			<td *ngFor="let key of device">
				<input [(ngModel)]="key.value">
			</td>
			<td>
				<button (click)="generatePrivate()" disabled>Generate & Deploy Private Key</button><br>
			</td>
		</tr>
		<tr>
	</table>
</div>

<div *ngIf="masterKey" class="abelist">
	<div class="newFieldDiv">
		<input [(ngModel)]="newField" placeholder="new">
		<button (click)="addColumn(newField)">New Field</button>
	</div>
	<tr><label>Devices:</label><br>
	<table  class="table">
		<tr *ngFor="let device of formatedDevices  | slice:0:1">
			<th *ngFor="let key of device">
				{{key.name}}
			</th>
			<th><button (click)="generateMaster('off')">Unlock Master Key</button><br>
				<button (click)="deployAllKeys()">Deploy All Keys</button></th>
		</tr>
		<tr *ngFor="let device of formatedDevices">
			<td *ngFor="let key of device" >
				<select [(ngModel)]="key.value">
					<option>{{key.value}}</option>
					<option *ngFor="let item of masterKeyList" [value]="item">{{item}}</option>
				</select>
			</td>
			<td>
				<button (click)="generatePrivate(device)">Generate & Deploy Private Key</button><br>
			</td>
		</tr>
		<tr>
	</table>
</div>

<!--
<div *ngIf="masterKey" class="abeTable">
	<tr><label>Message Generation:</label><br>
	<button (click)="createMessageKey()">Create Message Key</button>
	<table  class="table">
		<tr *ngFor="let device of formatedDevices  | slice:0:1">
			<th *ngFor="let key of device">
				{{key.name}}
			</th>
		</tr>
		<tr *ngFor="let device of formatedDevices">
			<td *ngFor="let key of device" [ngClass]="(key.isSelected==true)?'classIsSelected':'classIsNotSelected'" (click)="toggleSelected(key)">
					{{key.value}}
			</td>
		</tr>
		<tr>
	</table>
</div>
 -->
 